<%include ./partials/header.ejs%>
    <div class="relative min-h-screen md:flex bg-black" data-dev-hint="container">
        <input type="checkbox" id="menu-open" class="hidden" />

        <label for="menu-open"
            class="absolute right-2 bottom-2 shadow-lg rounded-full p-2 bg-gray-100 text-gray-600 md:hidden"
            data-dev-hint="floating action button">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </label>

        <header class="bg-black text-gray-100 flex justify-between md:hidden" data-dev-hint="mobile menu bar">
            <a href="#" class="instagram block p-4 text-white font-bold whitespace-nowrap truncate">
                Instagram
            </a>

            <label for="menu-open" id="mobile-menu-button"
                class="m-2 p-2 focus:outline-none hover:text-white hover:bg-gray-700 rounded-md">
                <svg id="menu-open-icon" class="h-6 w-6 transition duration-200 ease-in-out"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <svg id="menu-close-icon" class="h-6 w-6 transition duration-200 ease-in-out"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </label>
        </header>

        <aside id="sidebar"
            class="bg-black text-gray-100 md:w-64 w-3/4 space-y-6 pt-6 px-0 absolute inset-y-0 left-0 transform md:relative md:translate-x-0 transition duration-200 ease-in-out  md:flex md:flex-col md:justify-between overflow-y-auto border-r border-r-grey-500"
            data-dev-hint="sidebar; px-0 for frameless; px-2 for visually inset the navigation">
            <div class="flex flex-col space-y-6" data-dev-hint="optional div for having an extra footer navigation">
                <a href="/profile" class="text-white flex items-center justify-center space-x-2 px-4"
                    title="Your App is cool">
                    <span class="instagram text-2xl font-extrabold whitespace-nowrap truncate">Instagram</span>
                </a>

                <nav data-dev-hint="main navigation" class="m-2">
                    <a href="#"
                        class="flex items-center justify-center space-x-2 py-2 px-4 transition duration-200 hover:bg-gray-700 mt-16 hover:text-white rounded-xl">
                        <span class="text-lg font-sans font-semibold">Home</span>
                    </a>
                    <a href="#"
                        class="flex items-center justify-center space-x-2 py-2 px-4 transition duration-200 hover:bg-gray-700 hover:text-white group rounded-xl">
                        <!-- <span
                        class="w-4 h-4 flex-shrink-0 border border-gray-600 rounded group-hover:border-gray-400 transition duration-200"></span> -->
                        <span class="text-lg font-sans font-semibold">Create</span>
                    </a>
                    <a href="#"
                        class="flex items-center justify-center space-x-2 py-2 px-4 transition duration-200 hover:bg-gray-700 hover:text-white group rounded-xl">
                        <!-- <span
                        class="w-4 h-4 flex-shrink-0 border border-gray-600 rounded group-hover:border-gray-400 transition duration-200"></span> -->
                        <span class="text-lg font-sans font-semibold">Posts</span>
                    </a>
                    <a href="/profile"
                        class="flex items-center justify-center space-x-2 py-2 px-4 transition duration-200 hover:bg-gray-700 hover:text-white rounded-xl">
                        <span class="text-lg font-sans font-semibold">Profile</span>
                    </a>
                    <a href="#"
                        class="flex items-center justify-center space-x-2 py-2 px-4 transition duration-200 hover:bg-gray-700 hover:text-white group rounded-xl">
                        <span class="text-lg font-sans font-semibold">Friends</span>
                    </a>
                    <a href="#"
                        class="flex items-center justify-center space-x-2 py-2 px-4 transition duration-200 hover:bg-gray-700 hover:text-white group rounded-xl">
                        <span class="text-lg font-sans font-semibold">Settings</span>
                    </a>
                </nav>
            </div>
        </aside>

        <main id="content" class="flex-1 p-6 lg:px-8">
            <div class="max-w-7xl mx-auto">
                <div class="bg-black bg-opacity-25">

                    <div class="lg:w-8/12 lg:mx-auto mb-8">

                        <header class="flex flex-wrap items-center p-4 md:py-8">

                            <div class="md:w-3/12 md:ml-16">
                                <!-- profile image -->
                                <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                               border-2 border-pink-600 p-1"
                                    src="https://images.unsplash.com/photo-1502791451862-7bd8c1df43a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
                                    alt="profile">
                            </div>

                            <!-- profile meta -->
                            <div class="w-8/12 md:w-7/12 ml-4">
                                <div class="md:flex md:flex-wrap md:items-center mb-4">
                                    <h2 class="text-3xl inline-block font-light md:mr-2 mb-2 sm:mb-0 text-zinc-100">
                                        mrtravlerrr_
                                    </h2>

                                    <!-- badge -->
                                    <span class="inline-block fas fa-certificate fa-lg text-blue-500 
                                         relative mr-6 text-xl transform -translate-y-2" aria-hidden="true">
                                        <i class="fas fa-check text-white text-xs absolute inset-x-0
                                         ml-1 mt-px"></i>
                                    </span>

                                    <!-- follow button -->
                                    <a href="#" class="bg-blue-500 px-2 py-1 
                                  text-white font-semibold text-sm rounded block text-center 
                                  sm:inline-block block">Follow</a>
                                </div>

                                <!-- post, following, followers list for medium screens -->
                                <ul class="hidden md:flex space-x-8 mb-4">
                                    <li class="text-zinc-200">
                                        <span class="font-semibold text-zinc-200">136</span>
                                        posts
                                    </li>

                                    <li class="text-zinc-200">
                                        <span class="font-semibold text-zinc-200">40.5k</span>
                                        followers
                                    </li>
                                    <li class="text-zinc-200">
                                        <span class="font-semibold text-zinc-200">302</span>
                                        following
                                    </li>
                                </ul>

                                <!-- user meta form medium screens -->
                                <div class="hidden md:block">
                                    <h1 class="font-semibold text-zinc-100">Mr Travlerrr...</h1>
                                    <span class="text-zinc-100">Travel, Nature and Music</span>
                                    <p class="text-zinc-100">Lorem ipsum dolor sit amet consectetur</p>
                                </div>

                            </div>

                            <!-- user meta form small screens -->
                            <div class="md:hidden text-sm my-2 text-zinc-100">
                                <h1 class="font-semibold text-zinc-100">Mr Travlerrr...</h1>
                                <span class="text-zinc-100">Travel, Nature and Music</span>
                                <p class="text-zinc-100">Lorem ipsum dolor sit amet consectetur</p>
                            </div>

                        </header>

                        <!-- posts -->
                        <div class="px-px md:px-3">

                            <!-- user following for mobile only -->
                            <ul class="flex md:hidden justify-around space-x-8 border-t 
                          text-center p-2 text-gray-600 leading-snug text-sm">
                                <li>
                                    <span class="font-semibold text-gray-800 block">136</span>
                                    posts
                                </li>

                                <li>
                                    <span class="font-semibold text-gray-800 block">40.5k</span>
                                    followers
                                </li>
                                <li>
                                    <span class="font-semibold text-gray-800 block">302</span>
                                    following
                                </li>
                            </ul>

                            <!-- insta freatures -->
                            <ul class="flex items-center justify-around md:justify-center space-x-12  
                              uppercase tracking-widest font-semibold text-xs text-gray-600
                              border-t">
                                <!-- posts tab is active -->
                                <li class="md:border-t md:border-gray-700 md:-mt-px md:text-gray-700">
                                    <a class="inline-block p-3" href="#">
                                        <span class="hidden md:inline text-white">post</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="inline-block p-3" href="#">
                                        <span class="hidden md:inline text-white">igtv</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="inline-block p-3" href="#">
                                        <span class="hidden md:inline text-white">tagged</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- flexbox grid -->
                            <div class="flex flex-wrap -mx-px md:-mx-3">

                                <!-- column -->
                                <div class="w-1/3 p-px md:px-3">
                                    <!-- post 1-->
                                    <a href="#">
                                        <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                                            <!-- post image-->
                                            <img class="w-full h-full absolute left-0 top-0 object-cover"
                                                src="https://images.unsplash.com/photo-1502791451862-7bd8c1df43a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                                alt="image">

                                            <i class="fas fa-square absolute right-0 top-0 m-1"></i>
                                            <!-- overlay-->
                                            <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                          left-0 top-0 hidden">
                                                <div class="flex justify-center items-center 
                                              space-x-4 h-full">
                                                    <span class="p-2">
                                                        <i class="fas fa-heart"></i>
                                                        412K
                                                    </span>

                                                    <span class="p-2">
                                                        <i class="fas fa-comment"></i>
                                                        2,909
                                                    </span>
                                                </div>
                                            </div>

                                        </article>
                                    </a>
                                </div>

                                <div class="w-1/3 p-px md:px-3">
                                    <a href="#">
                                        <!-- post 2 -->
                                        <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                                            <img class="w-full h-full absolute left-0 top-0 object-cover"
                                                src="https://images.unsplash.com/photo-1498409570040-05bf6d3dd5b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                                alt="image">

                                            <!-- overlay-->
                                            <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                          left-0 top-0 hidden">
                                                <div class="flex justify-center items-center 
                                              space-x-4 h-full">
                                                    <span class="p-2">
                                                        <i class="fas fa-heart"></i>
                                                        412K
                                                    </span>

                                                    <span class="p-2">
                                                        <i class="fas fa-comment"></i>
                                                        1,993
                                                    </span>
                                                </div>
                                            </div>

                                        </article>
                                    </a>
                                </div>

                                <div class="w-1/3 p-px md:px-3">
                                    <a href="#">
                                        <article class="post bg-gray-100 text-white relative pb-full  md:mb-6">
                                            <img class="w-full h-full absolute left-0 top-0 object-cover"
                                                src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                                alt="image">
                                            <!-- overlay-->
                                            <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                          left-0 top-0 hidden">
                                                <div class="flex justify-center items-center 
                                              space-x-4 h-full">
                                                    <span class="p-2">
                                                        <i class="fas fa-heart"></i>
                                                        112K
                                                    </span>

                                                    <span class="p-2">
                                                        <i class="fas fa-comment"></i>
                                                        2,090
                                                    </span>
                                                </div>
                                            </div>
                                        </article>
                                    </a>
                                </div>

                                <div class="w-1/3 p-px md:px-3">
                                    <a href="#">
                                        <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                                            <img class="w-full h-full absolute left-0 top-0 object-cover"
                                                src="https://images.unsplash.com/photo-1533105079780-92b9be482077?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                                alt="image">

                                            <i class="fas fa-video absolute right-0 top-0 m-1"></i>

                                            <!-- overlay-->
                                            <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                          left-0 top-0 hidden">
                                                <div class="flex justify-center items-center 
                                              space-x-4 h-full">
                                                    <span class="p-2">
                                                        <i class="fas fa-heart"></i>
                                                        841K
                                                    </span>

                                                    <span class="p-2">
                                                        <i class="fas fa-comment"></i>
                                                        909
                                                    </span>
                                                </div>
                                            </div>

                                        </article>
                                    </a>
                                </div>

                                <div class="w-1/3 p-px md:px-3">
                                    <a href="#">
                                        <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                                            <img class="w-full h-full absolute left-0 top-0 object-cover"
                                                src="https://images.unsplash.com/photo-1475688621402-4257c812d6db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"
                                                alt="image">
                                            <!-- overlay-->
                                            <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                          left-0 top-0 hidden">
                                                <div class="flex justify-center items-center 
                                              space-x-4 h-full">
                                                    <span class="p-2">
                                                        <i class="fas fa-heart"></i>
                                                        120K
                                                    </span>

                                                    <span class="p-2">
                                                        <i class="fas fa-comment"></i>
                                                        3,909
                                                    </span>
                                                </div>
                                            </div>

                                        </article>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>


    <%include ./partials/footer.ejs%>